body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../public/ProjectBackground.jpg) ;
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  overflow: hidden;
}