@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

body{
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../public/ProjectBackground.jpg) ;
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  overflow: hidden;
}

button {
  font-family: 'GothicDot16';
}